<!doctype html>
<html class="no-js fixed-layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body id="body">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header" id="username" th:alt="${username}">
  <div class="am-topbar-brand">
    <strong>NCU 网上通讯录</strong> <small>后台管理</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <!--<li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>-->
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/admin"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
        <li class="admin-parent"><a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 修改个人资料 <span class="am-icon-angle-right am-fr am-margin-right"></span></a></li>
        </li>
        <li><a href="/admin/table"><span class="am-icon-table"></span> 表格</a></li>
       <!-- <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>-->
        <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>时光静好，与君语；细水流年，与君同。—— NCU</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>Welcome to NCU online address book</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>一些常用模块</small></div>
      </div>

      <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a onclick="getUser('disabled')" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>待审核用户<br/><p th:text="${disabledUsers}"></p></a></li>
        <li><a onclick="getUser('locked')" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>被禁用用户<br/><p th:text="${lockedUsers}"></p></a></li>
        <li><a onclick="getUser('normal')" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>正常用户<br/><p th:text="${normalUsers}"></p></a></li>
        <li><a onclick="getUser('all')" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>总共用户<br/><p th:text="${allUsers}"></p></a></li>
      </ul>

      <div class="am-g">
        <div class="am-u-sm-12">
        
       <!-- 用户信息-->
        
        </div>
      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2019 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/Util.js"></script>
<script>
  
  
  
  //获取用户信息
  function getUser(tip) {
  
    $.ajax({
    
      type:'POST',
      url:'/user/'+tip,
      success:function (data) {
      
        var showUser='<table class="am-table am-table-bd am-table-striped admin-content-table">\n' +
                '            <thead>\n' +
                '            <tr>\n' +
                '              <th>ID</th><th>用户名</th><th>注册时间</th><th>最近登录</th><th>登陆次数</th>\n' +
                '            </tr>\n' +
                '            </thead>\n' +
                '            <tbody>\n' ;
        var obj=data;
      
        for (var i in obj){
          var id=data[i].username;
          var name=data[i].name;
          var reTime=timestampToTime(data[i].registerTime);
          var loTime=data[i].loginTime==null?"未登录":timestampToTime(data[i].loginTime);
          var times=data[i].loginTimes;
        
          showUser+=
                  '            <tr><td>'+id+'</td><td>'+name+'</td><td>'+reTime+'</td><td>'+loTime+'</td><td><span class="am-badge am-badge-success">'+times+'</span></td>\n' +
/*                  '              <td>\n' +
                  '                <div class="am-dropdown" data-am-dropdown>\n' +
                  '                  <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>\n' +
                  '                  <ul class="am-dropdown-content">\n' +
                  '                    <li><a href="#">1. 编辑</a></li>\n' +
                  '                    <li><a href="#">2. 下载</a></li>\n' +
                  '                    <li><a href="#">3. 删除</a></li>\n' +
                  '                  </ul>\n' +
                  '                </div>\n' +
                  '              </td>\n' +*/
                  '            </tr>\n';
        
        }
      
        showUser+=   '            </tbody>\n' +
                '          </table>';
      
        $(".am-u-sm-12").html(showUser);
      }
    })
  }
  
  
  
</script>
</body>
</html>
